.user {
    width: 520px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}


.avatar {
    margin-left: 15px;
    margin-top: 15px;
}

.avatar img {
    border-radius: 50%;
}

.basicInfo {
    display: flex;
}

.author {
    margin-top: 15px;
    margin-left: 15px;
}

.authorName a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #515365;
    cursor: pointer;
}

.authorName a:hover {
    color: #ff5e3a; 
}

.location {
    font-size: 12px;
    color: #515365;
}

.followBtn {
    border: 1px solid #4a65e0; 
    margin-top: 15px;
    width: 36px;
    height: 36px;
    background-color: #6cbaf5;
    border-radius: 3px;
    cursor: pointer;
}

.followBtn:hover {
    background-color: #59b2f7;
}

.writeMessageBtn {
    border: 1px solid #7c5ac2; 
    background-color: #7c5ac2;
    margin-top: 15px;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 15px;
}

.writeMessageBtn:hover {
    background-color: #7045c5;
}

.btnController {
    margin-left: auto;
    margin-right: 15px; 
}

.status {
    width: 100%;
    height: max-content;
    position: relative;
    padding-bottom: 15px;
    padding-top: 30px;
    padding-left: 20px;
    font-size: 13px;
}

.status::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 15px;
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

