.myFriendsTitle {
    font-weight: bold;
    color: yellow;
}

.friendsWrapper {
    border: 3px solid red; 
}

.myFriends {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.allFriendsBtn {
    text-transform: none;
    color: white;
}

.randomFriendsBlock {
    display: grid;
    border: 4px solid green;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1%;
}