.sidebar {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blue;
}

.item {
    list-style: none;
}

.itemLink {
    color: white;
    text-decoration: none;
}

.activeLink {
    color: gold; 
}
