.welcomePage {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 30px auto;
}

.authMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 540px; 
    height: 720px;
    border: 3px solid black;   
}

.authForm__btn_registration {
    width: 45px;
    height: 355px;
    border: 2px solid red;
}

.authForm__btnIcon {
    margin: 160px 10px;
    cursor: pointer;
}

.authForm__btnPath {
    fill:#030104;
}

.authForm__btnIcon:hover .authForm__btnPath {
    fill:tomato;
} 

.registrationForm__btn {
    width: 45px;
    height: 355px;
    border: 2px solid red;
}

.userInformation {
    width: 490px;
    height: 720px;
    border: 2px solid green;
}

.userInformation__headline {
    width: 100%;
    height: 50px;
    border: 2px solid yellow;
    display: flex;
    align-items: center;
}

.forms__headline {
    margin-left: 45px;
    font-weight: bold;
    font-size: 18px;
}


